<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Магазин</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Інтернет-магазин</h1>
        <nav class="nav-right">
            {% if current_user.is_authenticated %}
                <span>Вітаємо, {{ current_user.username }}!</span> |
                <a href="{{ url_for('profile') }}">Профіль</a> |
                <a href="{{ url_for('logout') }}">Вийти</a>
                <br><small>Баланс: {{ current_user.balance }} ₴</small>
            {% else %}
                <a href="{{ url_for('login') }}">Увійти</a> |
                <a href="{{ url_for('register') }}">Зареєструватися</a>
            {% endif %}
        </nav>
    </header>

    <main>
        <h2>Товари</h2>
        {% if products %}
            <ul class="product-list">
                {% for product in products %}
                    <li class="product-item">
                        <h2>{{ product.name }}</h2>
                        <br>Ціна: {{ product.price }} ₴<br>
                        {% if current_user.is_authenticated %}
                            {% if current_user.confirmed %}
                                <a href="{{ url_for('buy_product', product_id=product.id) }}" class="buy-button">Купити</a>
                            {% else %}
                                <em>Confirm your account for buy</em>
                            {% endif %}    
                        {% else %}
                            <em>Log in for buy</em>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Товарів немає.</p>
        {% endif %}
    </main>
</body>
</html>
