{% extends 'base.html' %}
{% block content %}
<h2>Реєстрація</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>{{ form.username.label }} {{ form.username(class="form-control") }}</p>
    <p>{{ form.email.label }} {{ form.email(class="form-control") }}</p>
    <p>{{ form.password.label }} {{ form.password(class="form-control") }}</p>
    <p>{{ form.confirm.label }} {{ form.confirm(class="form-control") }}</p>
    <p>{{ form.submit(class="btn btn-primary") }}</p>
</form>
{% endblock %}
